{
  "extends": ["@antfu", "@unocss"],
  "rules": {
    "vue/html-self-closing": [
      "warn",
      {
        "html": {
          "void": "always",
          "normal": "never",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "no-console":"off"
  }
}
//后面补,去掉